In [1]:
import pandas as pd
import numpy as np
import random

from astropy.io import fits
from astropy.table import Table

import matplotlib.pyplot as plt
from astropy.visualization import make_lupton_rgb
plt.style.use('dark_background')

In [2]:
def make_one_plot(objects, title, data, Q, stretch, minimum):
    plt.figure(figsize=(4,4))
    rgb = make_lupton_rgb(objects[2], objects[1], objects[0], Q=Q, stretch=stretch, minimum=minimum)
    plt.imshow(rgb, aspect='equal')
    plt.xticks([], [])
    plt.yticks([], []) 
    #plt.savefig(png_path + title, bbox_inches='tight')
    #plt.show()
    plt.close()

In [3]:
hdu_list = fits.open('for_test.fits')
images = hdu_list[1].data
data = pd.DataFrame(hdu_list[2].data)
hdu_list.close()

print(len(images), len(data))

200 200

In [4]:
data['IMAGE_NAME_1'] = data['COADD_OBJECT_ID'].apply(lambda x: f'sing_{x}_1.png')
data['IMAGE_NAME_2'] = data['COADD_OBJECT_ID'].apply(lambda x: f'sing_{x}_2.png')
data['IMAGE_NAME_3'] = data['COADD_OBJECT_ID'].apply(lambda x: f'sing_{x}_3.png')
data['CLASS'] = ['single_cand']*len(data)
new_data = data.drop(['TILENAME', 'HPIX_16384', 'HPIX_4096',
       'DNF_ZMEAN_SOF', 'FLUX_RADIUS_G', 'FLUX_RADIUS_R',
       'FLUX_RADIUS_I', 'FLUX_RADIUS_Z', 'KRON_RADIUS', 'GAP_FLUX_G',
       'MOF_BDF_FLUX_G', 'MOF_PSF_FLUX_G', 'SOF_BDF_FLUX_G', 'SOF_PSF_FLUX_G',
       'MAG_AUTO_G', 'MAG_APER_4_G', 'MAG_APER_8_G', 'SOF_BDF_G_1',
       'SOF_BDF_G_2', 'IMAFLAGS_ISO_G', 'IMAFLAGS_ISO_R', 'IMAFLAGS_ISO_I',
       'IMAFLAGS_ISO_Z', 'EXT_COADD'], axis=1)
new_data.to_csv('manifest_test.csv')
new_data.head()

,COADD_OBJECT_ID,PROB,RA,DEC,IMAGE_NAME_1,IMAGE_NAME_2,IMAGE_NAME_3,CLASS
0,1013200489,0.834140,353.219770,-55.359401,sing_1013200489_1.png,sing_1013200489_2.png,sing_1013200489_3.png,single_cand
1,1518557701,0.999889,74.393065,-39.887525,sing_1518557701_1.png,sing_1518557701_2.png,sing_1518557701_3.png,single_cand
2,1514145972,0.753741,73.340447,-33.437315,sing_1514145972_1.png,sing_1514145972_2.png,sing_1514145972_3.png,single_cand
3,1234021619,0.756972,31.328631,4.136070,sing_1234021619_1.png,sing_1234021619_2.png,sing_1234021619_3.png,single_cand
4,1094847947,0.805007,11.135388,-4.554064,sing_1094847947_1.png,sing_1094847947_2.png,sing_1094847947_3.png,single_cand

In [5]:
png_path = 'pngs/'

for i in range(len(data)):
    title = 'sing_' + str(data['COADD_OBJECT_ID'].iloc[i]) + '_'
    #print(title)
    make_one_plot(images[i], title + '1.png', data.iloc[i], 9, 42, (0, 0, 0)) # new first filter
    make_one_plot(images[i], title + '2.png', data.iloc[i], 8, 35, (14, 2, 0)) # new second filter
    make_one_plot(images[i], title + '3.png', data.iloc[i], 10.5, 37, (14, 8, 0)) # new third filter